@{
    ViewData["Title"] = "За Нас";
}

<!DOCTYPE html>
<html lang="bg">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/homePage.css" />
</head>
<body>
    <!-- About Section -->
    <main>
        <section id="about">
            <h2>За Нас</h2>
            <p>Добре дошли в Японски Тунинг Части – вашето място за висококачествени автомобилни компоненти, създадени с вдъхновение от японската автомобилна индустрия. Нашият екип се стреми да предоставя на автомобилните ентусиасти най-доброто от японския тунинг пазар, предлагайки джанти, койлоувъри, изпускателни системи и турбокомпресори, които гарантират подобряване на представянето и външния вид на вашето превозно средство.</p>
            <p>Нашата мисия е да осигурим качествени продукти и професионално обслужване, които ще удовлетворят нуждите на всеки автомобилен любител.</p>
        </section>
    </main>

    <!-- Footer Section -->
    <footer>
        <p>&copy; 2024 Японски Тунинг Части. Всички права запазени.</p>
    </footer>
</body>
</html>
