<!DOCTYPE html>
<html lang="bg">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Японски Тунинг Части</title>
    <link rel="stylesheet" href="~/css/styles.css" asp-append-version="true" />
    <script src="java.js"></script>
</head>
<body>

    <div id="popup" class="popup">
        <div class="popup-content">
            <span class="close-btn">&times;</span>
            <h2>Добре дошли!</h2>
            <p>Това е вашият сайт за японски тунинг части.</p>
        </div>
    </div>

    <header>
        <h1>Японски Тунинг Части</h1>
        <nav>
            <ul>
                <li><a href="about.html">За Нас</a></li>
                <li><a asp-action="Products">Продукти</a>
                <li><a href="contact.html">Контакт</a></li>
            </ul>
        </nav>
    </header>

  

    <section id="products" class="product-gallery">
        <h2>Най-продавани</h2>
        <div class="product">
            <img src="lexus.jpg" alt="Продукт 1">
            <h3>Джанти</h3>
            <p>JR-Wheels е уникална колекция от джанти,
                създадени през годините въз основа на 
                най-новите автомобилни тенденции.</p>
        </div>
        <div class="product">
            <img src="images/coilovers.jpg" alt="Описание на снимката" />
            <h3>Койлоувър</h3>
            <p>След много години усъвършенстване на Cygnus Performance X-1 Classic Edition,
                ние твърдо вярваме, че това е най-добрият достъпен койлоувър комплект на пазара.</p>
        </div>
        <div class="product">
            <img src="product3.jpg" alt="Продукт 3">
            <h3>Ауспух</h3>
            <p>Изпускателните системи на Spec-D са директни плъг анд 
                плей Изработен от качествена неръждаема стомана и CNC обработени фланци за дълъг живот.
            </p>
        </div>
    </section>

    <section id="register" class="centered">
        <h2>Регистрация</h2>
        <form id="registration-form">
            <label for="username">Потребителско име:</label>
            <input type="text" id="username" name="username" required>

            <label for="password">Парола:</label>
            <input type="password" id="password" name="password" required>

            <button type="submit">Регистрирай се</button>
        </form>
    </section>

    <footer>
        <p>&copy; 2024 Японски Тунинг Части. Всички права запазени.</p>
    </footer>

</body>
</html>



