

<p>Use this page to detail your site's privacy policy.</p>
<title>Японски Тунинг Части</title>
<link rel="stylesheet" href="styles.css"> <!-- Можеш да добавиш CSS файл за стил -->
<script src="java.js"></script>


    <header>
        <h1>Японски Тунинг Части</h1>
        <nav>
            <ul>
                <li><a href="about.html">За Нас</a></li>
                <li><a href="cars">Продукти</a></li>
                <li><a href="contact.html">Контакт</a></li>
            </ul>
        </nav>
    </header>

    <div id="popup" class="popup">
        <div class="popup-content">
            <span class="close-btn">&times;</span>
            <h2>Добре дошли!</h2>
            <p>Това е вашият сайт за японски тунинг части.</p>
        </div>
    </div>

    <section id="register" class="centered">
        <h2>Регистрация</h2>
        <form id="registration-form">
            <label for="username">Потребителско име:</label>
            <input type="text" id="username" name="username" required>

            <label for="password">Парола:</label>
            <input type="password" id="password" name="password" required>

            <button type="submit">Регистрирай се</button>
        </form>
    </section>

    <footer>
        <p>&copy; 2024 Японски Тунинг Части. Всички права запазени.</p>
    </footer>
